.Apps {
  box-shadow:aquamarine;
  margin-bottom: 5px;
  height: 50px;
  width: 100%;
  box-shadow: 2px 2px 5px gray;
  padding: 10px;
}
.detailCard{
  width:100%;
  height:300px;
}

.detailImg{
  width: 25%;
  height: 250px;
  object-fit: fill;
  float: left;
  margin: 5px;
  
}
.movieDetail{
  margin-left: 25%;
  padding: 10px;
  
}
.card{
  width: 20%;
  height: 300px;
  float: left;


}
.card-img{
  object-fit: fill;
  width: 100%;
  height: 200px;
  background-color: gray;
}

.title{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
  float: left;
  
}
.rating{
  width: 30%;
  float: right;
  text-align: right;
}

.card-text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
